.menu {
  padding: 15px 15px;
  background: white;
}

.menu .category {
  margin: 12px 0 24px;
}

.menu h2 {
  margin: 10px 0 20px -30px;
  padding: 0 20px 0px 30px;
  border-radius: 0 20px 60px 0;
  background: red;
  color: white;
  width: auto;
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  font-family: "Yellowtail";
  box-shadow: 2px 2px 0px white, 4px 4px 0px red, 6px 6px 0px white, 8px 8px 0px red;
}

.menu p {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.menu p:last-of-type {
  border: none;
}

.menu span + span {
  float: right;
}

/* header */
.header {
  border-radius: 100px;
  margin: 32px auto 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header::before {
  background: pink;
  width: 2.82in;
  height: 120px;
  position: absolute;
  top: 72px;
  transform: skewY(-5deg);
  z-index: -1;
  content: "";
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: rotate(-6deg);
  margin-bottom: 24px;
  background: red;
  box-shadow: 0 0 0 5px white;
  object-fit: cover; /* Resmi kırpıp sığdırır */
}

/* nav */
nav {
  list-style: none;
  padding: 0 5px;
  text-align: center;
}

nav li {
  background: red;
  display: inline-block;
  margin: 5px 2.5px;
  border-radius: 36px 6px;
  box-shadow: 2px 2px 0px white, 4px 4px 0px red;
  position: relative;
  top: 0;
  left: 0;
  transition: 200ms all;
}

nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 20px;
}

nav li:hover {
  box-shadow: 0px 0px 0px white, 2px 2px 0px #b30000;
  top: 2px;
  left: 2px;
}

nav li:active {
  box-shadow: 0 0 0 white, 0 0 0 red;
  top: 4px;
  left: 4px;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Balsamiq Sans", sans-serif;
  color: black;
  margin: 0;
  display: block;
  background: white; /* flex kaldırıldı */
}

.category .item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.category .item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 12px;
  object-fit: cover;
}

.category .item span {
  flex: 1; /* yazılar sağa sola dağılsın */
}

.category .item span:last-child {
  text-align: right;
  font-weight: bold;
}


@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Yellowtail&display=swap");
